@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("montserrat-v13-latin-regular.bc3aa95d.woff2") format('woff2'), url("montserrat-v13-latin-regular.8102c483.woff") format('woff');
}
@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("montserrat-v13-latin-500.8b763220.woff") format('woff2'), url("montserrat-v13-latin-500.8b763220.woff") format('woff');
}
@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("montserrat-v13-latin-600.6fb1b562.woff2") format('woff2'), url("montserrat-v13-latin-600.7c839d15.woff") format('woff');
}
@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("montserrat-v13-latin-700.39d93cf6.woff2") format('woff2'), url("montserrat-v13-latin-700.80f10bd3.woff") format('woff');
}
@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url("montserrat-v13-latin-900.58cd7897.woff2") format('woff2'), url("montserrat-v13-latin-900.26d42c94.woff") format('woff');
}
.main-bg-color-QBuCB-ZJ {
  background-repeat: repeat;
  background-color: rgba(195, 203, 220, 0.6);
  background-image: linear-gradient(147deg, #999 0%, rgba(195, 203, 220, 0.6) 74%);
}
.max-width-ZIe5DSkp {
  max-width: 1400px;
  margin: 0 auto;
}
.empty-6t_hydxJ svg ellipse {
  fill: #444;
}
.empty-6t_hydxJ svg g {
  stroke: #999;
}
.empty-6t_hydxJ  .ant-empty-description {
  font-size: 14px;
  font-weight: 500;
}
.form-C4fXEMKQ {
  margin: 24px 0;
}
.form-C4fXEMKQ .extended-0VZDxMcJ {
  margin-top: calc(calc(24px * 2) - calc(24px / 2));
  margin-bottom: 24px;
  padding: 24px calc(24px / 2) calc(24px / 2) calc(24px / 2);
  background-color: #f1f1f1;
  border-radius: 8px;
}
.form-C4fXEMKQ .collapse-f8uKnW8C {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.form-C4fXEMKQ  .ant-row {
  column-gap: calc(24px / 2);
}
.form-C4fXEMKQ  .ant-form-item-label label {
  line-height: normal;
}
.form-C4fXEMKQ  .ant-form-item-label label::after {
  display: none;
}
.modalForm-ZoxqJqmC {
  margin: 24px 0;
}
.modalForm-ZoxqJqmC  .ant-modal-body {
  padding: 0;
}
.modalForm-ZoxqJqmC  .ant-modal-title {
  font-weight: 700;
  font-size: 18px;
}
.modalForm-ZoxqJqmC  .ant-modal-footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
}
.modalForm-ZoxqJqmC  .ant-form-item {
  margin-bottom: 24px;
}
.modalForm-ZoxqJqmC  .ant-space-item .ant-form-item {
  margin-bottom: calc(24px / 2);
}
.modalForm-ZoxqJqmC button span {
  font-size: 14px;
}
.groupWrapper-j_bJNUb7 {
  margin-bottom: calc(24px / 2);
}
.groupWrapper-j_bJNUb7 .group-C_OhWJd3 {
  display: flex;
  align-items: center;
}
.groupWrapper-j_bJNUb7 .group-C_OhWJd3 span[aria-label="question-circle"] {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  display: flex;
  height: 32px;
  padding: 0 8px;
  cursor: help;
}
.groupWrapper-j_bJNUb7  .ant-form-item-explain {
  margin-bottom: calc(24px / 2);
}
.required-u-KWCxtp {
  font-size: 14px;
}
.required-u-KWCxtp::before {
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}
section {
  position: relative;
}
section .skewed-lpdoEh7p {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8d9db6;
  z-index: 0;
  transform: skewy(6deg);
  transform-origin: top right;
}
.borderedContent-5QXO-CO_ {
  padding-top: calc(24px * 2);
  padding-bottom: calc(24px * 2);
  margin-top: calc(24px * 2);
  margin-bottom: calc(24px * 2);
  row-gap: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
.borderedContent-5QXO-CO_.dark-fuNklsln {
  border-top: 5px solid #667292;
  border-bottom: 5px solid #667292;
}
.borderedContent-5QXO-CO_.light-CD68ksud {
  border-top: 5px solid #8d9db6;
  border-bottom: 5px solid #8d9db6;
}
.modalApi-y4Icvd2k .modalFooter-5-k01pV_ {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
  margin-top: 24px;
}
.modalApi-y4Icvd2k svg {
  width: 24px;
  height: 24px;
}
.modalApi-y4Icvd2k  .ant-modal-confirm-title {
  font-weight: 700;
  font-size: 16px;
}
.modalApi-y4Icvd2k  .ant-modal-confirm-content {
  font-size: 14px;
  margin-top: calc(24px / 2);
}
.modalApi-y4Icvd2k  .ant-modal-confirm-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.modalApi-y4Icvd2k  .ant-modal-confirm-content ul li {
  display: flex;
  column-gap: 8px;
  font-size: 14px;
}
.modalApi-y4Icvd2k  .ant-modal-confirm-content ul li span {
  font-size: 14px;
  font-weight: 500;
}
.infoBtn--U-V_maq svg {
  width: 24px !important;
  height: 24px !important;
}
.truncate-QE3G2GbS .inline-cMSaLWl4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truncate-QE3G2GbS .row-nygyTq4h {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truncate-QE3G2GbS.r2-NmJQr8t_  .ant-card-meta-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.truncate-QE3G2GbS.r3-JS5T2xLq  .ant-card-meta-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.truncate-QE3G2GbS.r4-jGcdJ5GW  .ant-card-meta-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.truncate-QE3G2GbS.r5-svN5xfVQ  .ant-card-meta-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.editLight-xbvjoiKD button:not([role="switch"]):not(.skip-RHH6neJS) {
  background-color: rgba(0, 0, 0, 0.06);
}
.editLight-xbvjoiKD button:not([role="switch"]):not(.skip-RHH6neJS):not(:disabled):not(.ant-btn-disabled-Tnwhnubg):focus, 
.editLight-xbvjoiKD button:not([role="switch"]):not(.skip-RHH6neJS):not(:disabled):not(.ant-btn-disabled-Tnwhnubg):hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.editDark-m-F4GyhA button:not([role="switch"]):not(.skip-RHH6neJS) {
  background-color: rgba(255, 255, 255, 0.4);
}
.editDark-m-F4GyhA button:not([role="switch"]):not(.skip-RHH6neJS):not(:disabled):not(.ant-btn-disabled-Tnwhnubg):focus, 
.editDark-m-F4GyhA button:not([role="switch"]):not(.skip-RHH6neJS):not(:disabled):not(.ant-btn-disabled-Tnwhnubg):hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.radioGroup-qaS9a_js.vertical-xE6qjryV {
  display: flex;
  flex-direction: column;
}
.radioGroup-qaS9a_js.vertical-xE6qjryV  .ant-radio-button-wrapper {
  border-bottom: none;
  border-left: 1px solid #d9d9d9;
}
.radioGroup-qaS9a_js.vertical-xE6qjryV  .ant-radio-button-wrapper::before {
  display: none;
}
.radioGroup-qaS9a_js.vertical-xE6qjryV  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled-1ZL5TMOz) {
  border: none;
}
.radioGroup-qaS9a_js.vertical-xE6qjryV  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked button {
  display: inline-block;
}
.radioGroup-qaS9a_js.vertical-xE6qjryV  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked button:not([role="switch"]):not(.skip-RHH6neJS) {
  background-color: rgba(255, 255, 255, 0.4);
}
.radioGroup-qaS9a_js.vertical-xE6qjryV  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked button:not([role="switch"]):not(.skip-RHH6neJS):not(:disabled):not(.ant-btn-disabled-Tnwhnubg):focus, 
.radioGroup-qaS9a_js.vertical-xE6qjryV  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked button:not([role="switch"]):not(.skip-RHH6neJS):not(:disabled):not(.ant-btn-disabled-Tnwhnubg):hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.radioGroup-qaS9a_js.vertical-xE6qjryV  .ant-radio-button-wrapper:first-child {
  border-end-start-radius: 0;
  border-start-end-radius: 6px;
}
.radioGroup-qaS9a_js.vertical-xE6qjryV  .ant-radio-button-wrapper:last-child {
  border-start-end-radius: 0;
  border-end-start-radius: 6px;
  border-bottom: 1px solid #d9d9d9;
}
.break-word-LtpkckTX {
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
}
.largeFormItems-51hVlJM6  .ant-picker-time-panel-cell-inner, 
.largeFormItems-51hVlJM6  .ant-picker-now-btn, 
.largeFormItems-51hVlJM6  .ant-picker-ok span, 
.largeFormItems-51hVlJM6  .ant-select-item-option-content {
  font-size: 14px;
}
.largeFormItems-51hVlJM6  .ant-picker-time-panel-cell-inner > div, 
.largeFormItems-51hVlJM6  .ant-picker-now-btn > div, 
.largeFormItems-51hVlJM6  .ant-picker-ok span > div, 
.largeFormItems-51hVlJM6  .ant-select-item-option-content > div, 
.largeFormItems-51hVlJM6  .ant-picker-time-panel-cell-inner span, 
.largeFormItems-51hVlJM6  .ant-picker-now-btn span, 
.largeFormItems-51hVlJM6  .ant-picker-ok span span, 
.largeFormItems-51hVlJM6  .ant-select-item-option-content span {
  font-size: 14px;
}
.largeFormItems-51hVlJM6  .ant-picker-time-panel-cell-inner svg, 
.largeFormItems-51hVlJM6  .ant-picker-now-btn svg, 
.largeFormItems-51hVlJM6  .ant-picker-ok span svg, 
.largeFormItems-51hVlJM6  .ant-select-item-option-content svg {
  width: 16px;
  height: 16px;
}
.largeFormItems-51hVlJM6  .ant-select-item-option-selected .ant-select-item-option-content {
  font-weight: 700;
}
.largeFormItems-51hVlJM6  .ant-select-item-option-selected .ant-select-item-option-content > div {
  font-weight: 700;
}
 .ant-popover .ant-popover-title {
  font-weight: 500;
  font-size: 14px;
}
 .ant-popover .ant-popover-inner-content {
  font-size: 14px;
}
 .ant-notification-notice-with-icon > span svg {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}
 .ant-card-actions {
  align-items: center;
}
 .ant-modal-confirm .ant-modal-confirm-body.ant-modal-confirm-body-has-title {
  column-gap: 8px;
}
 .ant-dropdown-menu-item {
  column-gap: 4px;
}
 .ant-drawer {
  z-index: 100;
}
 .ant-spin-dot {
  width: 18px !important;
  height: 18px !important;
}
 .ant-form-large * {
  font-size: 16px !important;
}
 .ant-form-large .ant-select-lg {
  height: 39px;
}
 .ant-form-large .ant-select-lg .ant-select-clear svg {
  position: relative;
  left: -8px;
  top: -3px;
}
 .ant-form-large .ant-input-data-count {
  font-size: 14px !important;
}
 .ant-form-large .ant-switch {
  height: calc(20px + 8px);
}
 .ant-form-large .ant-switch .ant-switch-handle {
  width: calc(14px + 8px);
  height: calc(14px + 8px);
  top: calc(8px / 2 - 1px);
  left: calc(8px / 2 - 1px);
}
 .ant-form-large .ant-switch .ant-switch-handle::before {
  border-radius: calc((14px + 8px) / 2);
}
 .ant-form-large .ant-switch .ant-switch-handle svg {
  width: calc(10px + 8px);
  height: calc(10px + 8px);
}
 .ant-form-large .ant-switch.ant-switch-checked .ant-switch-handle {
  left: auto;
  right: calc(8px / 2 - 1px);
}
 .ant-form-large .ant-switch.ant-switch-checked .ant-switch-inner-checked {
  margin-left: 8px;
  margin-right: 8px;
}
 .ant-form-large .ant-switch.ant-switch-checked .ant-switch-inner {
  padding-inline-end: calc(20px + 8px - 2px);
  line-height: calc(20px + 8px);
}
 .ant-form-large .ant-switch.ant-switch-checked .ant-switch-inner-unchecked {
  margin: auto !important;
}
 .ant-form-large .ant-switch .ant-switch-inner {
  display: grid;
}
 .ant-form-large .ant-switch .ant-switch-inner .ant-switch-inner-unchecked {
  margin-left: 8px;
  margin-right: 8px;
}
 .ant-form-large ::-webkit-input-placeholder {
  font-size: 16px;
}
 .ant-form-large ::placeholder {
  font-size: 16px;
}
 .ant-form-middle * {
  font-size: 14px !important;
}
 .ant-form-middle .ant-switch {
  height: calc(20px + 7px);
}
 .ant-form-middle .ant-switch .ant-switch-handle {
  width: calc(14px + 7px);
  height: calc(14px + 7px);
  top: calc(7px / 2 - 1px);
  left: calc(7px / 2 - 1px);
}
 .ant-form-middle .ant-switch .ant-switch-handle::before {
  border-radius: calc((14px + 7px) / 2);
}
 .ant-form-middle .ant-switch .ant-switch-handle svg {
  width: calc(10px + 7px);
  height: calc(10px + 7px);
}
 .ant-form-middle .ant-switch.ant-switch-checked .ant-switch-handle {
  left: auto;
  right: calc(7px / 2 - 1px);
}
 .ant-form-middle .ant-switch.ant-switch-checked .ant-switch-inner-checked {
  margin-left: 7px;
  margin-right: 7px;
}
 .ant-form-middle .ant-switch.ant-switch-checked .ant-switch-inner {
  padding-inline-end: calc(20px + 7px - 2px);
  line-height: calc(20px + 7px);
}
 .ant-form-middle .ant-switch.ant-switch-checked .ant-switch-inner-unchecked {
  margin: auto !important;
}
 .ant-form-middle .ant-switch .ant-switch-inner {
  display: grid;
}
 .ant-form-middle .ant-switch .ant-switch-inner .ant-switch-inner-unchecked {
  margin-left: 7px;
  margin-right: 7px;
}
 .ant-form-middle ::-webkit-input-placeholder {
  font-size: 14px;
}
 .ant-form-middle ::placeholder {
  font-size: 14px;
}
 .ant-form-small * {
  font-size: 12px !important;
}
 .ant-form-small ::-webkit-input-placeholder {
  font-size: 12px;
}
 .ant-form-small ::placeholder {
  font-size: 12px;
}
 .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  align-items: center;
}
.labelIcon-jtKFba7j {
  display: flex;
  column-gap: 8px;
}
.formHidden-yr8HWIGT {
  display: none;
}
.lightSwitch-yRqxIWvb {
  outline: 1px solid #d9d9d9;
}
.darkSwitch-nLok6H44 {
  outline: 1px solid rgba(195, 203, 220, 0.6);
}
.loginWrapper-bsLSohWw {
  position: relative;
}
@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("montserrat-v13-latin-regular.bc3aa95d.woff2") format('woff2'), url("montserrat-v13-latin-regular.8102c483.woff") format('woff');
}
@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("montserrat-v13-latin-500.8b763220.woff") format('woff2'), url("montserrat-v13-latin-500.8b763220.woff") format('woff');
}
@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("montserrat-v13-latin-600.6fb1b562.woff2") format('woff2'), url("montserrat-v13-latin-600.7c839d15.woff") format('woff');
}
@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("montserrat-v13-latin-700.39d93cf6.woff2") format('woff2'), url("montserrat-v13-latin-700.80f10bd3.woff") format('woff');
}
@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url("montserrat-v13-latin-900.58cd7897.woff2") format('woff2'), url("montserrat-v13-latin-900.26d42c94.woff") format('woff');
}
.main-bg-color-9c-g_hQi {
  background-repeat: repeat;
  background-color: rgba(195, 203, 220, 0.6);
  background-image: linear-gradient(147deg, #999 0%, rgba(195, 203, 220, 0.6) 74%);
}
.max-width-9c1NdajT {
  max-width: 1400px;
  margin: 0 auto;
}
.empty-Rh9Nb_WA svg ellipse {
  fill: #444;
}
.empty-Rh9Nb_WA svg g {
  stroke: #999;
}
.empty-Rh9Nb_WA  .ant-empty-description {
  font-size: 14px;
  font-weight: 500;
}
.form-Ty3xKYaU {
  margin: 24px 0;
}
.form-Ty3xKYaU .extended-t6Q2MQTx {
  margin-top: calc(calc(24px * 2) - calc(24px / 2));
  margin-bottom: 24px;
  padding: 24px calc(24px / 2) calc(24px / 2) calc(24px / 2);
  background-color: #f1f1f1;
  border-radius: 8px;
}
.form-Ty3xKYaU .collapse-QjSk7EOv {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.form-Ty3xKYaU  .ant-row {
  column-gap: calc(24px / 2);
}
.form-Ty3xKYaU  .ant-form-item-label label {
  line-height: normal;
}
.form-Ty3xKYaU  .ant-form-item-label label::after {
  display: none;
}
.modalForm-Gu_-nrnJ {
  margin: 24px 0;
}
.modalForm-Gu_-nrnJ  .ant-modal-body {
  padding: 0;
}
.modalForm-Gu_-nrnJ  .ant-modal-title {
  font-weight: 700;
  font-size: 18px;
}
.modalForm-Gu_-nrnJ  .ant-modal-footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
}
.modalForm-Gu_-nrnJ  .ant-form-item {
  margin-bottom: 24px;
}
.modalForm-Gu_-nrnJ  .ant-space-item .ant-form-item {
  margin-bottom: calc(24px / 2);
}
.modalForm-Gu_-nrnJ button span {
  font-size: 14px;
}
.groupWrapper-K0jwjWsi {
  margin-bottom: calc(24px / 2);
}
.groupWrapper-K0jwjWsi .group-9EpASaFD {
  display: flex;
  align-items: center;
}
.groupWrapper-K0jwjWsi .group-9EpASaFD span[aria-label="question-circle"] {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  display: flex;
  height: 32px;
  padding: 0 8px;
  cursor: help;
}
.groupWrapper-K0jwjWsi  .ant-form-item-explain {
  margin-bottom: calc(24px / 2);
}
.required-u4_kQFIn {
  font-size: 14px;
}
.required-u4_kQFIn::before {
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}
section {
  position: relative;
}
section .skewed-Tv3JSpkC {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8d9db6;
  z-index: 0;
  transform: skewy(6deg);
  transform-origin: top right;
}
.borderedContent-amCgepgR {
  padding-top: calc(24px * 2);
  padding-bottom: calc(24px * 2);
  margin-top: calc(24px * 2);
  margin-bottom: calc(24px * 2);
  row-gap: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
.borderedContent-amCgepgR.dark-TznqP7Bo {
  border-top: 5px solid #667292;
  border-bottom: 5px solid #667292;
}
.borderedContent-amCgepgR.light-vkX28t-L {
  border-top: 5px solid #8d9db6;
  border-bottom: 5px solid #8d9db6;
}
.modalApi-vy69421n .modalFooter-pHEWexju {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
  margin-top: 24px;
}
.modalApi-vy69421n svg {
  width: 24px;
  height: 24px;
}
.modalApi-vy69421n  .ant-modal-confirm-title {
  font-weight: 700;
  font-size: 16px;
}
.modalApi-vy69421n  .ant-modal-confirm-content {
  font-size: 14px;
  margin-top: calc(24px / 2);
}
.modalApi-vy69421n  .ant-modal-confirm-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.modalApi-vy69421n  .ant-modal-confirm-content ul li {
  display: flex;
  column-gap: 8px;
  font-size: 14px;
}
.modalApi-vy69421n  .ant-modal-confirm-content ul li span {
  font-size: 14px;
  font-weight: 500;
}
.infoBtn-6RWNxU5T svg {
  width: 24px !important;
  height: 24px !important;
}
.truncate-4mhMbvy4 .inline-v1cxuIpd {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truncate-4mhMbvy4 .row-6sv84ehj {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truncate-4mhMbvy4.r2-SFAtLt_5  .ant-card-meta-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.truncate-4mhMbvy4.r3-_st77CSU  .ant-card-meta-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.truncate-4mhMbvy4.r4-eSkLyHfw  .ant-card-meta-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.truncate-4mhMbvy4.r5-am6q5p1e  .ant-card-meta-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.editLight-Lj1OnGKs button:not([role="switch"]):not(.skip-U6q-lyFe) {
  background-color: rgba(0, 0, 0, 0.06);
}
.editLight-Lj1OnGKs button:not([role="switch"]):not(.skip-U6q-lyFe):not(:disabled):not(.ant-btn-disabled-4tsOtLCK):focus, 
.editLight-Lj1OnGKs button:not([role="switch"]):not(.skip-U6q-lyFe):not(:disabled):not(.ant-btn-disabled-4tsOtLCK):hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.editDark-LCx5tF0V button:not([role="switch"]):not(.skip-U6q-lyFe) {
  background-color: rgba(255, 255, 255, 0.4);
}
.editDark-LCx5tF0V button:not([role="switch"]):not(.skip-U6q-lyFe):not(:disabled):not(.ant-btn-disabled-4tsOtLCK):focus, 
.editDark-LCx5tF0V button:not([role="switch"]):not(.skip-U6q-lyFe):not(:disabled):not(.ant-btn-disabled-4tsOtLCK):hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.radioGroup-KuoFm2Iq.vertical-iSYdfDWV {
  display: flex;
  flex-direction: column;
}
.radioGroup-KuoFm2Iq.vertical-iSYdfDWV  .ant-radio-button-wrapper {
  border-bottom: none;
  border-left: 1px solid #d9d9d9;
}
.radioGroup-KuoFm2Iq.vertical-iSYdfDWV  .ant-radio-button-wrapper::before {
  display: none;
}
.radioGroup-KuoFm2Iq.vertical-iSYdfDWV  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled-2NzBMUzf) {
  border: none;
}
.radioGroup-KuoFm2Iq.vertical-iSYdfDWV  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked button {
  display: inline-block;
}
.radioGroup-KuoFm2Iq.vertical-iSYdfDWV  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked button:not([role="switch"]):not(.skip-U6q-lyFe) {
  background-color: rgba(255, 255, 255, 0.4);
}
.radioGroup-KuoFm2Iq.vertical-iSYdfDWV  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked button:not([role="switch"]):not(.skip-U6q-lyFe):not(:disabled):not(.ant-btn-disabled-4tsOtLCK):focus, 
.radioGroup-KuoFm2Iq.vertical-iSYdfDWV  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked button:not([role="switch"]):not(.skip-U6q-lyFe):not(:disabled):not(.ant-btn-disabled-4tsOtLCK):hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.radioGroup-KuoFm2Iq.vertical-iSYdfDWV  .ant-radio-button-wrapper:first-child {
  border-end-start-radius: 0;
  border-start-end-radius: 6px;
}
.radioGroup-KuoFm2Iq.vertical-iSYdfDWV  .ant-radio-button-wrapper:last-child {
  border-start-end-radius: 0;
  border-end-start-radius: 6px;
  border-bottom: 1px solid #d9d9d9;
}
.break-word-xZu4pQQO {
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
}
.largeFormItems-NTO5fOMX  .ant-picker-time-panel-cell-inner, 
.largeFormItems-NTO5fOMX  .ant-picker-now-btn, 
.largeFormItems-NTO5fOMX  .ant-picker-ok span, 
.largeFormItems-NTO5fOMX  .ant-select-item-option-content {
  font-size: 14px;
}
.largeFormItems-NTO5fOMX  .ant-picker-time-panel-cell-inner > div, 
.largeFormItems-NTO5fOMX  .ant-picker-now-btn > div, 
.largeFormItems-NTO5fOMX  .ant-picker-ok span > div, 
.largeFormItems-NTO5fOMX  .ant-select-item-option-content > div, 
.largeFormItems-NTO5fOMX  .ant-picker-time-panel-cell-inner span, 
.largeFormItems-NTO5fOMX  .ant-picker-now-btn span, 
.largeFormItems-NTO5fOMX  .ant-picker-ok span span, 
.largeFormItems-NTO5fOMX  .ant-select-item-option-content span {
  font-size: 14px;
}
.largeFormItems-NTO5fOMX  .ant-picker-time-panel-cell-inner svg, 
.largeFormItems-NTO5fOMX  .ant-picker-now-btn svg, 
.largeFormItems-NTO5fOMX  .ant-picker-ok span svg, 
.largeFormItems-NTO5fOMX  .ant-select-item-option-content svg {
  width: 16px;
  height: 16px;
}
.largeFormItems-NTO5fOMX  .ant-select-item-option-selected .ant-select-item-option-content {
  font-weight: 700;
}
.largeFormItems-NTO5fOMX  .ant-select-item-option-selected .ant-select-item-option-content > div {
  font-weight: 700;
}
 .ant-popover .ant-popover-title {
  font-weight: 500;
  font-size: 14px;
}
 .ant-popover .ant-popover-inner-content {
  font-size: 14px;
}
 .ant-notification-notice-with-icon > span svg {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}
 .ant-card-actions {
  align-items: center;
}
 .ant-modal-confirm .ant-modal-confirm-body.ant-modal-confirm-body-has-title {
  column-gap: 8px;
}
 .ant-dropdown-menu-item {
  column-gap: 4px;
}
 .ant-drawer {
  z-index: 100;
}
 .ant-spin-dot {
  width: 18px !important;
  height: 18px !important;
}
 .ant-form-large * {
  font-size: 16px !important;
}
 .ant-form-large .ant-select-lg {
  height: 39px;
}
 .ant-form-large .ant-select-lg .ant-select-clear svg {
  position: relative;
  left: -8px;
  top: -3px;
}
 .ant-form-large .ant-input-data-count {
  font-size: 14px !important;
}
 .ant-form-large .ant-switch {
  height: calc(20px + 8px);
}
 .ant-form-large .ant-switch .ant-switch-handle {
  width: calc(14px + 8px);
  height: calc(14px + 8px);
  top: calc(8px / 2 - 1px);
  left: calc(8px / 2 - 1px);
}
 .ant-form-large .ant-switch .ant-switch-handle::before {
  border-radius: calc((14px + 8px) / 2);
}
 .ant-form-large .ant-switch .ant-switch-handle svg {
  width: calc(10px + 8px);
  height: calc(10px + 8px);
}
 .ant-form-large .ant-switch.ant-switch-checked .ant-switch-handle {
  left: auto;
  right: calc(8px / 2 - 1px);
}
 .ant-form-large .ant-switch.ant-switch-checked .ant-switch-inner-checked {
  margin-left: 8px;
  margin-right: 8px;
}
 .ant-form-large .ant-switch.ant-switch-checked .ant-switch-inner {
  padding-inline-end: calc(20px + 8px - 2px);
  line-height: calc(20px + 8px);
}
 .ant-form-large .ant-switch.ant-switch-checked .ant-switch-inner-unchecked {
  margin: auto !important;
}
 .ant-form-large .ant-switch .ant-switch-inner {
  display: grid;
}
 .ant-form-large .ant-switch .ant-switch-inner .ant-switch-inner-unchecked {
  margin-left: 8px;
  margin-right: 8px;
}
 .ant-form-large ::-webkit-input-placeholder {
  font-size: 16px;
}
 .ant-form-large ::placeholder {
  font-size: 16px;
}
 .ant-form-middle * {
  font-size: 14px !important;
}
 .ant-form-middle .ant-switch {
  height: calc(20px + 7px);
}
 .ant-form-middle .ant-switch .ant-switch-handle {
  width: calc(14px + 7px);
  height: calc(14px + 7px);
  top: calc(7px / 2 - 1px);
  left: calc(7px / 2 - 1px);
}
 .ant-form-middle .ant-switch .ant-switch-handle::before {
  border-radius: calc((14px + 7px) / 2);
}
 .ant-form-middle .ant-switch .ant-switch-handle svg {
  width: calc(10px + 7px);
  height: calc(10px + 7px);
}
 .ant-form-middle .ant-switch.ant-switch-checked .ant-switch-handle {
  left: auto;
  right: calc(7px / 2 - 1px);
}
 .ant-form-middle .ant-switch.ant-switch-checked .ant-switch-inner-checked {
  margin-left: 7px;
  margin-right: 7px;
}
 .ant-form-middle .ant-switch.ant-switch-checked .ant-switch-inner {
  padding-inline-end: calc(20px + 7px - 2px);
  line-height: calc(20px + 7px);
}
 .ant-form-middle .ant-switch.ant-switch-checked .ant-switch-inner-unchecked {
  margin: auto !important;
}
 .ant-form-middle .ant-switch .ant-switch-inner {
  display: grid;
}
 .ant-form-middle .ant-switch .ant-switch-inner .ant-switch-inner-unchecked {
  margin-left: 7px;
  margin-right: 7px;
}
 .ant-form-middle ::-webkit-input-placeholder {
  font-size: 14px;
}
 .ant-form-middle ::placeholder {
  font-size: 14px;
}
 .ant-form-small * {
  font-size: 12px !important;
}
 .ant-form-small ::-webkit-input-placeholder {
  font-size: 12px;
}
 .ant-form-small ::placeholder {
  font-size: 12px;
}
 .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  align-items: center;
}
.labelIcon-axbEsJ5S {
  display: flex;
  column-gap: 8px;
}
.formHidden-uGuVPtKm {
  display: none;
}
.lightSwitch-Dto2ztdH {
  outline: 1px solid #d9d9d9;
}
.darkSwitch-0I5Wcr4M {
  outline: 1px solid rgba(195, 203, 220, 0.6);
}
.export-lEnJXnFQ {
  position: relative;
  top: -2px;
}
.export-lEnJXnFQ svg {
  width: 10px;
  height: 10px;
}
.screenshot-dBpeQKNI {
  padding: 0;
  background-color: transparent !important;
}
.screenshot-dBpeQKNI span[role="img"] {
  margin-right: 4px;
}
.checkboxWrapper-31Qj7SVA {
  display: flex;
  column-gap: 3px;
  row-gap: 3px;
}
.checkboxWrapper-31Qj7SVA  label {
  margin: 0;
  padding: 3px;
  border-radius: 3px;
}
.checkboxWrapper-31Qj7SVA  label.ant-checkbox-wrapper-checked {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}
.checkboxWrapper-31Qj7SVA.primary-MJGSeadK  label {
  margin: 0;
}
.checkboxWrapper-31Qj7SVA.primary-MJGSeadK  label.ant-checkbox-wrapper-checked {
  color: #333;
  border-color: #1890ff;
  background: #1890ff;
}
.checkboxWrapper-31Qj7SVA.hide-YUuKnTUL  .ant-checkbox-inner {
  display: none;
}
.csv-USFrxFxk, 
.json-sbH3-emn {
  padding: 0;
  background: none;
  border: none;
  color: #1890ff;
  cursor: pointer;
}
.csv-USFrxFxk:hover, 
.json-sbH3-emn:hover {
  color: #69b1ff;
}
.groupButtons-CL9X-Qoc {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
.groupButtons-CL9X-Qoc .next-6o_zXm3h {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.groupButtons-CL9X-Qoc .next-6o_zXm3h  .ant-btn-icon:not(:last-child) {
  margin-inline-start: 8px;
  margin-inline-end: 0 !important;
}
.customAction-qbBIYBwd span[aria-label="down"] svg {
  width: 8px;
  position: relative;
  top: 2px;
}
@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("montserrat-v13-latin-regular.bc3aa95d.woff2") format('woff2'), url("montserrat-v13-latin-regular.8102c483.woff") format('woff');
}
@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("montserrat-v13-latin-500.8b763220.woff") format('woff2'), url("montserrat-v13-latin-500.8b763220.woff") format('woff');
}
@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("montserrat-v13-latin-600.6fb1b562.woff2") format('woff2'), url("montserrat-v13-latin-600.7c839d15.woff") format('woff');
}
@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("montserrat-v13-latin-700.39d93cf6.woff2") format('woff2'), url("montserrat-v13-latin-700.80f10bd3.woff") format('woff');
}
@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url("montserrat-v13-latin-900.58cd7897.woff2") format('woff2'), url("montserrat-v13-latin-900.26d42c94.woff") format('woff');
}
.main-bg-color-Mqqj-c-B {
  background-repeat: repeat;
  background-color: rgba(195, 203, 220, 0.6);
  background-image: linear-gradient(147deg, #999 0%, rgba(195, 203, 220, 0.6) 74%);
}
.max-width-GabAX43F {
  max-width: 1400px;
  margin: 0 auto;
}
.empty-Lwd7yGFz svg ellipse {
  fill: #444;
}
.empty-Lwd7yGFz svg g {
  stroke: #999;
}
.empty-Lwd7yGFz  .ant-empty-description {
  font-size: 14px;
  font-weight: 500;
}
.form-9JEDJMXk {
  margin: 24px 0;
}
.form-9JEDJMXk .extended-FxxbgXIh {
  margin-top: calc(calc(24px * 2) - calc(24px / 2));
  margin-bottom: 24px;
  padding: 24px calc(24px / 2) calc(24px / 2) calc(24px / 2);
  background-color: #f1f1f1;
  border-radius: 8px;
}
.form-9JEDJMXk .collapse-PvaMzIEN {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.form-9JEDJMXk  .ant-row {
  column-gap: calc(24px / 2);
}
.form-9JEDJMXk  .ant-form-item-label label {
  line-height: normal;
}
.form-9JEDJMXk  .ant-form-item-label label::after {
  display: none;
}
.modalForm-VZPC-KWi {
  margin: 24px 0;
}
.modalForm-VZPC-KWi  .ant-modal-body {
  padding: 0;
}
.modalForm-VZPC-KWi  .ant-modal-title {
  font-weight: 700;
  font-size: 18px;
}
.modalForm-VZPC-KWi  .ant-modal-footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
}
.modalForm-VZPC-KWi  .ant-form-item {
  margin-bottom: 24px;
}
.modalForm-VZPC-KWi  .ant-space-item .ant-form-item {
  margin-bottom: calc(24px / 2);
}
.modalForm-VZPC-KWi button span {
  font-size: 14px;
}
.groupWrapper-iqRD7A1Y {
  margin-bottom: calc(24px / 2);
}
.groupWrapper-iqRD7A1Y .group-rzbqQQcm {
  display: flex;
  align-items: center;
}
.groupWrapper-iqRD7A1Y .group-rzbqQQcm span[aria-label="question-circle"] {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  display: flex;
  height: 32px;
  padding: 0 8px;
  cursor: help;
}
.groupWrapper-iqRD7A1Y  .ant-form-item-explain {
  margin-bottom: calc(24px / 2);
}
.required-6WTOmGir {
  font-size: 14px;
}
.required-6WTOmGir::before {
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}
section {
  position: relative;
}
section .skewed-xzppsJHI {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8d9db6;
  z-index: 0;
  transform: skewy(6deg);
  transform-origin: top right;
}
.borderedContent-XCLn7_TN {
  padding-top: calc(24px * 2);
  padding-bottom: calc(24px * 2);
  margin-top: calc(24px * 2);
  margin-bottom: calc(24px * 2);
  row-gap: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
.borderedContent-XCLn7_TN.dark-8-eYHieg {
  border-top: 5px solid #667292;
  border-bottom: 5px solid #667292;
}
.borderedContent-XCLn7_TN.light-C-AtydpP {
  border-top: 5px solid #8d9db6;
  border-bottom: 5px solid #8d9db6;
}
.modalApi-nlcW_jIg .modalFooter-6BVZT7oq {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
  margin-top: 24px;
}
.modalApi-nlcW_jIg svg {
  width: 24px;
  height: 24px;
}
.modalApi-nlcW_jIg  .ant-modal-confirm-title {
  font-weight: 700;
  font-size: 16px;
}
.modalApi-nlcW_jIg  .ant-modal-confirm-content {
  font-size: 14px;
  margin-top: calc(24px / 2);
}
.modalApi-nlcW_jIg  .ant-modal-confirm-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.modalApi-nlcW_jIg  .ant-modal-confirm-content ul li {
  display: flex;
  column-gap: 8px;
  font-size: 14px;
}
.modalApi-nlcW_jIg  .ant-modal-confirm-content ul li span {
  font-size: 14px;
  font-weight: 500;
}
.infoBtn--subKOMd svg {
  width: 24px !important;
  height: 24px !important;
}
.truncate-0_1xLK3Y .inline-n8YyAhWm {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truncate-0_1xLK3Y .row-4BS5E4xX {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truncate-0_1xLK3Y.r2-Ana0cqdf  .ant-card-meta-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.truncate-0_1xLK3Y.r3-DrExw_qV  .ant-card-meta-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.truncate-0_1xLK3Y.r4-1oV1PMy4  .ant-card-meta-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.truncate-0_1xLK3Y.r5-Fd22ybrE  .ant-card-meta-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.editLight-aq4TNGmx button:not([role="switch"]):not(.skip-J5beJEOj) {
  background-color: rgba(0, 0, 0, 0.06);
}
.editLight-aq4TNGmx button:not([role="switch"]):not(.skip-J5beJEOj):not(:disabled):not(.ant-btn-disabled-xoVxE2bk):focus, 
.editLight-aq4TNGmx button:not([role="switch"]):not(.skip-J5beJEOj):not(:disabled):not(.ant-btn-disabled-xoVxE2bk):hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.editDark-oxdA5qVQ button:not([role="switch"]):not(.skip-J5beJEOj) {
  background-color: rgba(255, 255, 255, 0.4);
}
.editDark-oxdA5qVQ button:not([role="switch"]):not(.skip-J5beJEOj):not(:disabled):not(.ant-btn-disabled-xoVxE2bk):focus, 
.editDark-oxdA5qVQ button:not([role="switch"]):not(.skip-J5beJEOj):not(:disabled):not(.ant-btn-disabled-xoVxE2bk):hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.radioGroup-kPbRDdg2.vertical-wOxaiiTL {
  display: flex;
  flex-direction: column;
}
.radioGroup-kPbRDdg2.vertical-wOxaiiTL  .ant-radio-button-wrapper {
  border-bottom: none;
  border-left: 1px solid #d9d9d9;
}
.radioGroup-kPbRDdg2.vertical-wOxaiiTL  .ant-radio-button-wrapper::before {
  display: none;
}
.radioGroup-kPbRDdg2.vertical-wOxaiiTL  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled-N6Z6LuK8) {
  border: none;
}
.radioGroup-kPbRDdg2.vertical-wOxaiiTL  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked button {
  display: inline-block;
}
.radioGroup-kPbRDdg2.vertical-wOxaiiTL  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked button:not([role="switch"]):not(.skip-J5beJEOj) {
  background-color: rgba(255, 255, 255, 0.4);
}
.radioGroup-kPbRDdg2.vertical-wOxaiiTL  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked button:not([role="switch"]):not(.skip-J5beJEOj):not(:disabled):not(.ant-btn-disabled-xoVxE2bk):focus, 
.radioGroup-kPbRDdg2.vertical-wOxaiiTL  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked button:not([role="switch"]):not(.skip-J5beJEOj):not(:disabled):not(.ant-btn-disabled-xoVxE2bk):hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.radioGroup-kPbRDdg2.vertical-wOxaiiTL  .ant-radio-button-wrapper:first-child {
  border-end-start-radius: 0;
  border-start-end-radius: 6px;
}
.radioGroup-kPbRDdg2.vertical-wOxaiiTL  .ant-radio-button-wrapper:last-child {
  border-start-end-radius: 0;
  border-end-start-radius: 6px;
  border-bottom: 1px solid #d9d9d9;
}
.break-word-k38_8SxL {
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
}
.largeFormItems-fe6RIOs-  .ant-picker-time-panel-cell-inner, 
.largeFormItems-fe6RIOs-  .ant-picker-now-btn, 
.largeFormItems-fe6RIOs-  .ant-picker-ok span, 
.largeFormItems-fe6RIOs-  .ant-select-item-option-content {
  font-size: 14px;
}
.largeFormItems-fe6RIOs-  .ant-picker-time-panel-cell-inner > div, 
.largeFormItems-fe6RIOs-  .ant-picker-now-btn > div, 
.largeFormItems-fe6RIOs-  .ant-picker-ok span > div, 
.largeFormItems-fe6RIOs-  .ant-select-item-option-content > div, 
.largeFormItems-fe6RIOs-  .ant-picker-time-panel-cell-inner span, 
.largeFormItems-fe6RIOs-  .ant-picker-now-btn span, 
.largeFormItems-fe6RIOs-  .ant-picker-ok span span, 
.largeFormItems-fe6RIOs-  .ant-select-item-option-content span {
  font-size: 14px;
}
.largeFormItems-fe6RIOs-  .ant-picker-time-panel-cell-inner svg, 
.largeFormItems-fe6RIOs-  .ant-picker-now-btn svg, 
.largeFormItems-fe6RIOs-  .ant-picker-ok span svg, 
.largeFormItems-fe6RIOs-  .ant-select-item-option-content svg {
  width: 16px;
  height: 16px;
}
.largeFormItems-fe6RIOs-  .ant-select-item-option-selected .ant-select-item-option-content {
  font-weight: 700;
}
.largeFormItems-fe6RIOs-  .ant-select-item-option-selected .ant-select-item-option-content > div {
  font-weight: 700;
}
 .ant-popover .ant-popover-title {
  font-weight: 500;
  font-size: 14px;
}
 .ant-popover .ant-popover-inner-content {
  font-size: 14px;
}
 .ant-notification-notice-with-icon > span svg {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}
 .ant-card-actions {
  align-items: center;
}
 .ant-modal-confirm .ant-modal-confirm-body.ant-modal-confirm-body-has-title {
  column-gap: 8px;
}
 .ant-dropdown-menu-item {
  column-gap: 4px;
}
 .ant-drawer {
  z-index: 100;
}
 .ant-spin-dot {
  width: 18px !important;
  height: 18px !important;
}
 .ant-form-large * {
  font-size: 16px !important;
}
 .ant-form-large .ant-select-lg {
  height: 39px;
}
 .ant-form-large .ant-select-lg .ant-select-clear svg {
  position: relative;
  left: -8px;
  top: -3px;
}
 .ant-form-large .ant-input-data-count {
  font-size: 14px !important;
}
 .ant-form-large .ant-switch {
  height: calc(20px + 8px);
}
 .ant-form-large .ant-switch .ant-switch-handle {
  width: calc(14px + 8px);
  height: calc(14px + 8px);
  top: calc(8px / 2 - 1px);
  left: calc(8px / 2 - 1px);
}
 .ant-form-large .ant-switch .ant-switch-handle::before {
  border-radius: calc((14px + 8px) / 2);
}
 .ant-form-large .ant-switch .ant-switch-handle svg {
  width: calc(10px + 8px);
  height: calc(10px + 8px);
}
 .ant-form-large .ant-switch.ant-switch-checked .ant-switch-handle {
  left: auto;
  right: calc(8px / 2 - 1px);
}
 .ant-form-large .ant-switch.ant-switch-checked .ant-switch-inner-checked {
  margin-left: 8px;
  margin-right: 8px;
}
 .ant-form-large .ant-switch.ant-switch-checked .ant-switch-inner {
  padding-inline-end: calc(20px + 8px - 2px);
  line-height: calc(20px + 8px);
}
 .ant-form-large .ant-switch.ant-switch-checked .ant-switch-inner-unchecked {
  margin: auto !important;
}
 .ant-form-large .ant-switch .ant-switch-inner {
  display: grid;
}
 .ant-form-large .ant-switch .ant-switch-inner .ant-switch-inner-unchecked {
  margin-left: 8px;
  margin-right: 8px;
}
 .ant-form-large ::-webkit-input-placeholder {
  font-size: 16px;
}
 .ant-form-large ::placeholder {
  font-size: 16px;
}
 .ant-form-middle * {
  font-size: 14px !important;
}
 .ant-form-middle .ant-switch {
  height: calc(20px + 7px);
}
 .ant-form-middle .ant-switch .ant-switch-handle {
  width: calc(14px + 7px);
  height: calc(14px + 7px);
  top: calc(7px / 2 - 1px);
  left: calc(7px / 2 - 1px);
}
 .ant-form-middle .ant-switch .ant-switch-handle::before {
  border-radius: calc((14px + 7px) / 2);
}
 .ant-form-middle .ant-switch .ant-switch-handle svg {
  width: calc(10px + 7px);
  height: calc(10px + 7px);
}
 .ant-form-middle .ant-switch.ant-switch-checked .ant-switch-handle {
  left: auto;
  right: calc(7px / 2 - 1px);
}
 .ant-form-middle .ant-switch.ant-switch-checked .ant-switch-inner-checked {
  margin-left: 7px;
  margin-right: 7px;
}
 .ant-form-middle .ant-switch.ant-switch-checked .ant-switch-inner {
  padding-inline-end: calc(20px + 7px - 2px);
  line-height: calc(20px + 7px);
}
 .ant-form-middle .ant-switch.ant-switch-checked .ant-switch-inner-unchecked {
  margin: auto !important;
}
 .ant-form-middle .ant-switch .ant-switch-inner {
  display: grid;
}
 .ant-form-middle .ant-switch .ant-switch-inner .ant-switch-inner-unchecked {
  margin-left: 7px;
  margin-right: 7px;
}
 .ant-form-middle ::-webkit-input-placeholder {
  font-size: 14px;
}
 .ant-form-middle ::placeholder {
  font-size: 14px;
}
 .ant-form-small * {
  font-size: 12px !important;
}
 .ant-form-small ::-webkit-input-placeholder {
  font-size: 12px;
}
 .ant-form-small ::placeholder {
  font-size: 12px;
}
 .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  align-items: center;
}
.labelIcon-JkcShOFk {
  display: flex;
  column-gap: 8px;
}
.formHidden-1F9I6KGz {
  display: none;
}
.lightSwitch-T7pse3Km {
  outline: 1px solid #d9d9d9;
}
.darkSwitch-pFiDER4Y {
  outline: 1px solid rgba(195, 203, 220, 0.6);
}
* {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
body {
  margin: 0;
  overflow-x: hidden;
}
body.outline-uYqhJml6 * {
  outline: 1px solid #1890ff;
  outline-offset: 1px;
}
.landing-I-77E_9Q .progress-eNW4RLhp {
  height: 2px;
  background-color: lightcoral;
  position: fixed;
  z-index: 11;
  top: 0;
}
.landing-I-77E_9Q .sL-lWIYusto {
  position: relative;
  min-height: 100vh;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb {
  position: sticky;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 11;
  background-repeat: repeat;
  background-color: rgba(195, 203, 220, 0.6);
  background-image: linear-gradient(147deg, #999 0%, rgba(195, 203, 220, 0.6) 74%);
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .layoutHeader-san849Yt {
  padding: 0 calc(24px * 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  height: 64px;
}
@media only screen and (max-width: 570px) {
  .landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .layoutHeader-san849Yt {
    padding: 0 24px;
  }
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .layoutHeader-san849Yt .headerMenu-uEoY9W-o {
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 64px;
  max-height: 64px;
  transition: display 0.3s ease-in-out;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .layoutHeader-san849Yt .headerMenu-uEoY9W-o .logo-XCdbMTlP {
  display: flex;
  cursor: pointer;
  margin-right: 24px;
  fill: #333;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .layoutHeader-san849Yt .headerMenu-uEoY9W-o .logo-XCdbMTlP svg {
  width: 24px;
  height: 24px;
  margin-right: calc(24px / 2);
  color: #fff;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .layoutHeader-san849Yt .headerMenu-uEoY9W-o .logo-XCdbMTlP div {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  line-height: normal;
  font-size: 16px;
  font-weight: 600;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .layoutHeader-san849Yt .headerMenu-uEoY9W-o .logo-XCdbMTlP div span {
  font-weight: 500;
  font-size: 12px;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .layoutHeader-san849Yt .headerMenu-uEoY9W-o button {
  transition: background-color 0.3s ease-in-out;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .layoutHeader-san849Yt .headerMenu-uEoY9W-o button span {
  color: #333;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .layoutHeader-san849Yt .headerMenu-uEoY9W-o .slogan-nRiieCE5 {
  display: none;
  color: #333;
}
@media only screen and (max-width: 570px) {
  .landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .layoutHeader-san849Yt .headerMenu-uEoY9W-o button {
    display: none;
  }
  .landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .layoutHeader-san849Yt .headerMenu-uEoY9W-o .slogan-nRiieCE5 {
    display: flex;
    font-size: 16px;
    margin-left: calc(24px / 2);
  }
}
@media only screen and (max-width: 350px) {
  .landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .layoutHeader-san849Yt .headerMenu-uEoY9W-o .slogan-nRiieCE5 {
    display: none;
  }
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .layoutHeader-san849Yt .headerMenu-uEoY9W-o  .ant-btn-text:not(:disabled):not(.ant-btn-disabled-xoVxE2bk):hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .headerActions-WN-tkCiE {
  display: flex;
  align-items: center;
  height: 64px;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .headerActions-WN-tkCiE svg {
  width: 24px;
  height: 24px;
  fill: #333;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .headerActions-WN-tkCiE .toHide-4N9-hKp7 {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .headerActions-WN-tkCiE .toHide-4N9-hKp7 img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .headerActions-WN-tkCiE .toHide-4N9-hKp7  .ant-dropdown-trigger {
  display: flex;
  align-items: center;
  column-gap: calc(24px / 2);
  cursor: pointer;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .headerActions-WN-tkCiE .toHide-4N9-hKp7  .ant-dropdown-trigger span {
  line-height: 20px;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .headerActions-WN-tkCiE .menuButton-zGUj9Iqk {
  display: none;
}
.landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .headerActions-WN-tkCiE .menuButton-zGUj9Iqk svg {
  width: 16px;
  height: 16px;
}
@media only screen and (max-width: 768px) {
  .landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .headerActions-WN-tkCiE .toHide-4N9-hKp7 {
    display: none;
  }
  .landing-I-77E_9Q .sL-lWIYusto .headerWrapper-sucA1eKb .headerActions-WN-tkCiE .menuButton-zGUj9Iqk {
    display: flex;
  }
}
.landing-I-77E_9Q .sL-lWIYusto .sLC-O9u-3e86 {
  overflow: hidden;
  background-repeat: repeat;
  background-color: rgba(195, 203, 220, 0.6);
  background-image: linear-gradient(147deg, #999 0%, rgba(195, 203, 220, 0.6) 74%);
}
.landing-I-77E_9Q .sL-lWIYusto .sLC-O9u-3e86 .sLCW-XiOLdhSc {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
}
.landing-I-77E_9Q .sL-lWIYusto .sLC-O9u-3e86 .sLCW-XiOLdhSc.sLCWH-K6mFNw9h {
  min-height: calc(100vh - 64px);
}
.landing-I-77E_9Q .sL-lWIYusto .sLC-O9u-3e86 .sLCW-XiOLdhSc.sLCWF-ThG2ufih {
  min-height: calc(100vh - 64px);
}
.landing-I-77E_9Q .sL-lWIYusto .sLC-O9u-3e86 .sLCW-XiOLdhSc.sLCWHF-O2w4tSo9 {
  min-height: calc(100vh - 64px - 64px);
}
.landing-I-77E_9Q .sL-lWIYusto .sLC-O9u-3e86  .ant-back-top {
  right: 50px;
}
.landing-I-77E_9Q .sL-lWIYusto .sLF-o1cQEwMJ {
  height: 64px;
  background-repeat: repeat;
  background-color: rgba(195, 203, 220, 0.6);
  background-image: linear-gradient(147deg, #999 0%, rgba(195, 203, 220, 0.6) 74%);
}
.landing-I-77E_9Q .sL-lWIYusto .sLF-o1cQEwMJ .footer-HlfPodvg {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.drawerWrapper-R8zMrIVi {
  background-color: transparent;
  padding: 0 calc(24px / 2);
  height: 100%;
}
.drawerWrapper-R8zMrIVi .layoutHeader-san849Yt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.drawerWrapper-R8zMrIVi .headerMenu-uEoY9W-o {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.drawerWrapper-R8zMrIVi .headerMenu-uEoY9W-o button {
  height: auto;
}
.drawerWrapper-R8zMrIVi .headerMenu-uEoY9W-o button span {
  font-size: 24px;
}
.drawerWrapper-R8zMrIVi .slogan-nRiieCE5 {
  display: none;
}
.drawerMenu-HK0kdoAh  .ant-drawer-header {
  padding: 16px;
}
.drawerMenu-HK0kdoAh  .ant-drawer-header-title {
  flex-direction: row-reverse;
}
.drawerMenu-HK0kdoAh  .ant-drawer-title {
  font-weight: 500;
  font-size: 18px;
}
.userActions-jqUNtpdo {
  display: flex;
  column-gap: 24px;
  align-items: center;
}
.userActions-jqUNtpdo .notifications-mRUciVJa {
  cursor: pointer;
}
.userActions-jqUNtpdo .wifi-FfPtQvv_ svg {
  fill: #ff4d4f !important;
}
.userActions-jqUNtpdo .wifi-FfPtQvv_.connected-KpW-0mie svg {
  fill: #52c41a !important;
}
.userActions-jqUNtpdo  .ant-btn-dangerous span {
  color: #fff;
}
.drawerActions-cuTPH10r {
  display: flex;
  row-gap: 24px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.drawerActions-cuTPH10r button {
  width: 100%;
}
.loader-DoG3jd_X {
  width: auto !important;
}
.loader-DoG3jd_X  .ant-spin-dot {
  margin-top: -8.75px !important;
}
.actionsMenu-D_Vp2eGp a {
  display: inline-block;
  width: 100%;
}
.page404-XmbQNSFg, 
.page403-m9A5Dmxr, 
.page500-ZwNGu3ZE {
  width: 100%;
}
/*# sourceMappingURL=src_layouts_landing_index_js-async.css.map*/